<%= form_for(@tip) do |f| %>
  <%= f.text_field :location %>
  <%= f.label :location, "Location" %><button id="get_location">Locate me!</button>
  <%= f.text_field :crime_type %>
  <%= f.label :crime_type, "Type of crime" %>
  <%= f.text_area :description %>
  <%= f.label :description, "Description" %>
  <%= f.label :description, "Height" %>
  <%= f.label :description, "Hair Color" %>
  <%= f.label :description, "Race" %>
  <%= f.label :description, "Gender" %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :long %>
  <div class="actions">
    <%= f.submit %>
    <%= f.button(value="Cancel") %>
  </div>
<% end %>
