<%= form_for(@tip) do |f| %>
    <div class="row-fluid">
        <div class="span12 incident-section"><h1><%= t(:incident) %></h1></div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="form-label">
                <%= f.label :location, t(:where), :class => 'tlabel' %>
            </div>
            <%= f.text_field :location %><span class="location_ico" id="get_location"></span>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :has_occurred, t(:when), :class => 'tlabel' %>
            </div>
            <select>
                <option default=true>Just Happened</option>
                <option>1 PM</option>
                <option>2 PM</option>
                <option>3 PM</option>
                <option>4 PM</option>
                <option>5 PM</option>
                <option>6 PM</option>
                <option>7 PM</option>
                <option>8 PM</option>
                <option>9 PM</option>
                <option>10 PM</option>
                <option>11 PM</option>
                <option>12 PM</option>
                <option>1 AM</option>
                <option>2 AM</option>
                <option>3 AM</option>
                <option>4 AM</option>
                <option>5 AM</option>
                <option>6 AM</option>
                <option>7 AM</option>
                <option>8 AM</option>
                <option>9 AM</option>
                <option>10 AM</option>
                <option>11 AM</option>
                <option>12 AM</option>
            </select>
            <label class="checkbox">
                <input type="checkbox"> Hasn't happened yet
            </label>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :crime_type, "Time of Crime", :class => 'tlabel' %>
            </div>
            <select>
                <option default=true>Select One</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
    </div>
<% if false %>
        <div class="span2">
            
        </div>
        <div class="span4">
            
        </div>
        <div class="span2">
            <%= f.check_box :has_occurred, :class => 'tlabel' %><%= f.label :has_occurred, "Not Yet", :class => 'tlabel' %>
        </div>
 <% end %>

    <div class="row-fluid">
        <div class="span12 suspect-section">
            <h1>Suspect Description</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label "Gender", :class => 'tlabel' %>
        </div>
        <div class=span4>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" id="gender_male_btn">Male</button>
                <button type="button" class="btn btn-primary" id="gender_female_btn">Female</button>
                <button type="button" class="btn btn-primary" id="gender_unknown_btn">Unknown</button>
                <%= f.hidden_field :gender %>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label :race, "Race", :class => 'tlabel' %>
        </div>
        <div class="span4">
          <%= f.select :race, ['1','2','3'], { :prompt => 'Select a race'} %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label :height, "Height", :class => 'tlabel' %>
        </div>
        <div class="span4">
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" id="height_short_btn">Short</button>
                <button type="button" class="btn btn-primary" id="height_average_btn">Average</button>
                <button type="button" class="btn btn-primary" id="height_tall_btn">Tall</button>
                <%= f.hidden_field :height %>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label :haircolor, "Hair Color", :class => 'tlabel' %>
        </div>
        <div class="span4">
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" id="haircolor_black_btn">Black</button>
                <button type="button" class="btn btn-primary" id="haircolor_brown_btn">Brown</button>
                <button type="button" class="btn btn-primary" id="haircolor_blonde_btn">Blonde</button>
                <button type="button" class="btn btn-primary" id="haircolor_other_btn">Other</button>
                <%= f.hidden_field :haircolor %>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label :description, "Details", :class => 'tlabel' %>
        </div>
        <div class="span4">
            <span>Please share additional details:</span><%= f.text_area :description %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <%= f.label :phone, "Ph #", :class => 'tlabel' %>
        </div>
        <div class="span4">
            <%= f.text_field :phone, :class => 'tlabel' %>
        </div>
        <div class="span4">
            <span>(optional)</span>
        </div>
    </div>
    <% if @tip.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

    <ul>
    <% @tip.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :long %>
  <%= f.hidden_field :geocoded %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
