<%= form_for(@tip) do |f| %>
    <div class="row-fluid incident-section">
        <div class="span12"><h1 class="section-title"><%= t(:incident) %></h1></div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="form-label">
                <%= f.label :location, t(:where), :class => 'tlabel' %>
            </div>
            <%= f.text_field :location %><span class="location_ico" id="get_location"></span>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :has_occurred, t(:when), :class => 'tlabel' %>
            </div>
            <select>
                <option default=true><%= t(:just_hap) %></option>
                <option>1 PM</option>
                <option>2 PM</option>
                <option>3 PM</option>
                <option>4 PM</option>
                <option>5 PM</option>
                <option>6 PM</option>
                <option>7 PM</option>
                <option>8 PM</option>
                <option>9 PM</option>
                <option>10 PM</option>
                <option>11 PM</option>
                <option>12 PM</option>
                <option>1 AM</option>
                <option>2 AM</option>
                <option>3 AM</option>
                <option>4 AM</option>
                <option>5 AM</option>
                <option>6 AM</option>
                <option>7 AM</option>
                <option>8 AM</option>
                <option>9 AM</option>
                <option>10 AM</option>
                <option>11 AM</option>
                <option>12 AM</option>
            </select>
            <label class="checkbox">
                <input type="checkbox"> <%= t(:hasnt_hap) %>
            </label>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :crime_type, t(:crime_type), :class => 'tlabel' %>
            </div>
            <select>
                <option default=true>Select One</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span12 suspect-section section-title">
            <h1 class="section-title"><%= t(:suspect_desc) %></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class=span4>
            <div class="form-label">
                <%= f.label t(:gender), :class => 'tlabel' %>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn large-button" id="gender_male_btn">Male</button>
                <button type="button" class="btn large-button" id="gender_female_btn">Female</button>
                <%= f.hidden_field :gender %>
            </div>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :race, "Ethnicity", :class => 'tlabel' %>
            </div>
            <%= f.select :race, ['White','African American','American Indian', 'Asian', 'Hispanic', 'Multiracial'], { :prompt => 'Select one'} %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="form-label">
                <%= f.label :height, "Height", :class => 'tlabel' %>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn large-button" id="height_short_btn">Short</button>
                <button type="button" class="btn large-button" id="height_average_btn">Average</button>
                <button type="button" class="btn large-button" id="height_tall_btn">Tall</button>
                <%= f.hidden_field :height %>
            </div>
        </div>
        <div class="span4">
            <div class="form-label">
                <%= f.label :haircolor, "Hair Color", :class => 'tlabel' %>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn race-button black-button" id="haircolor_black_btn">Black</button>
                <button type="button" class="btn race-button brown-button" id="haircolor_brown_btn">Brown</button>
                <button type="button" class="btn race-button red-button" id="haircolor_red_btn">Red</button>
                <button type="button" class="btn race-button blonde-button" id="haircolor_blonde_btn">Blonde</button>
                <button type="button" class="btn race-button gray-button" id="haircolor_gray_btn">Gray</button>
                <%= f.hidden_field :haircolor %>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 suspect-section section-title">
            <h1 class="section-title"><%= t(:add_details) %></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8">
            <span class="desc-row">Anything you saw or heard may be helpful</span><%= f.text_area :description, :class => 'desc-row' %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="form-label">
                <span class="ph_num_label">OPTIONAL</span>
                <span class="ph_num_label" >Phone Number</span>
            </div>
            <%= f.text_field :phone, :class => 'ph_num' %>
        </div>
    </div>
    <% if @tip.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

    <ul>
    <% @tip.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :long %>
  <%= f.hidden_field :geocoded %>
  <div class="actions">
    <%= f.submit :class => 'submit_btn' %>
  </div>
<% end %>
