<div class="row today">
  <div class="date-box">
    <%= Date.today.strftime("%b %-d, %Y") %>
  </div>
</div>
<div class="tips-list row">
  <div class="span12">
    <% @tips.each do |tip| %>
      <div class="row">
        <div class="date"><%= tip.updated_at.strftime("%l:%M %p") %></div>
        <div class="tip-box">
          <div class="tip-title">
            <div class="crime-type"><%= tip.crime_type %></div>
            <% if tip.location %>
            <div class="location">NEXT TO <%= tip.location.upcase %></div>
            <% end %>
          </div>
          <div class="tip-content">
            <div class="suspect">
              <strong><%= tip.height %></strong> <strong><%= tip.race %> <%= tip.gender %></strong> with <strong><%= tip.haircolor %></strong> hair wearing <strong><%= tip.clothes %></strong>
            </div>
            <div><%= tip.description %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

