<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>Tipsy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">SF POLICE</a>
          <ul class="nav">
            <li class="active"><a href="<%= tips_path %>">TIPS</a></li>
            <li><a href="<%= tips_path %>">ANALYTICS</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a href="#">SIGN OUT</a></li>
          </ul>
        </div>
      </div>
    </div>
    

        <%= yield %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#locale-sel').dropdown();
      })
    </script>
</body>
</html>
